# Housing Rental Analysis for San Francisco

In this challenge, your job is to use your data visualisation skills, including aggregation, interactive visualisations, and geospatial analysis, to find properties in the San Francisco market that are viable investment opportunities.

### Instructions

Use the `san_francisco_housing.ipynb` notebook to visualise and analyse the real-estate data.

Note that this assignment requires you to create a visualisation by using hvPlot and GeoViews. Additionally, you need to read the `sfo_neighborhoods_census_data.csv` file from the `Resources` folder into the notebook and create the DataFrame that you’ll use in the analysis.

The main task in this Challenge is to visualise and analyse the real-estate data in your Jupyter notebook. Use the `san_francisco_housing.ipynb` notebook to complete the following tasks:

* Calculate and plot the housing units per year.

* Calculate and plot the average prices per square foot.

* Compare the average prices by neighbourhood.

* Build an interactive neighbourhood map.

* Compose your data story.

#### Calculate and Plot the Housing Units per Year

For this part of the assignment, use numerical and visual aggregation to calculate the number of housing units per year, and then visualise the results as a bar chart. To do so, complete the following steps:

1. Use the `groupby` function to group the data by year. Aggregate the results by the `mean` of the groups.

2. Use the `hvplot` function to plot the `housing_units_by_year` DataFrame as a bar chart. Make the x-axis represent the `year` and the y-axis represent the `housing_units`.

3. Style and format the line plot to ensure a professionally styled visualisation.

4. Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of the resulting bar chart.](Images/6-4-zoomed-housing-units-by-year.png)

5. Answer the following question:

    * What’s the overall trend in housing units over the period that you’re analysing?

#### Calculate and Plot the Average Sale Prices per Square Foot

For this part of the assignment, use numerical and visual aggregation to calculate the average prices per square foot, and then visualise the results as a bar chart. To do so, complete the following steps:

1. Group the data by year, and then average the results. What’s the lowest gross rent that’s reported for the years that the DataFrame includes?

2. Create a new DataFrame named `prices_square_foot_by_year` by filtering out the “housing_units” column. The new DataFrame should include the averages per year for only the sale price per square foot and the gross rent.

3. Use hvPlot to plot the `prices_square_foot_by_year` DataFrame as a line plot.

    > **Hint** This single plot will include lines for both `sale_price_sqr_foot` and `gross_rent`.

4. Style and format the line plot to ensure a professionally styled visualisation.

5. Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of the resulting plot.](Images/6-4-avg-sale-px-sq-foot-gross-rent.png)

6. Use both the `prices_square_foot_by_year` DataFrame and interactive plots to answer the following questions:

    * Did any year experience a drop in the average sale price per square foot compared to the previous year?

    * If so, did the gross rent increase or decrease during that year?

#### Compare the Average Sale Prices by Neighbourhood

For this part of the assignment, use interactive visualisations and widgets to explore the average sale price per square foot by neighbourhood. To do so, complete the following steps:

1. Create a new DataFrame that groups the original DataFrame by year and neighbourhood. Aggregate the results by the `mean` of the groups.

2. Filter out the “housing_units” column to create a DataFrame that includes only the `sale_price_sqr_foot` and `gross_rent` averages per year.

3. Create an interactive line plot with hvPlot that visualises both `sale_price_sqr_foot` and `gross_rent`. Set the x-axis parameter to the year (`x="year"`). Use the `groupby` parameter to create an interactive widget for `neighbourhood`.

4. Style and format the line plot to ensure a professionally styled visualisation.

5. Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of the resulting plot.](Images/6-4-pricing-info-by-neighborhood.png)

6. Use the interactive visualisation to answer the following question:

    * For the Anza Vista neighbourhood, is the average sale price per square foot for 2016 more or less than the price that’s listed for 2012?

#### Build an Interactive Neighbourhood Map

For this part of the assignment, explore the geospatial relationships in the data by using interactive visualisations with hvPlot and GeoViews. To build your map, use the `sfo_data_df` DataFrame (created during the initial import), which includes the neighbourhood location data with the average prices. To do all this, complete the following steps:

1. Read the `neighbourhood_coordinates.csv` file from the `Resources` folder into the notebook, and create a DataFrame named `neighbourhood_locations_df`. Be sure to set the `index_col` of the DataFrame as “Neighbourhood”.

2. Using the original `sfo_data_df` Dataframe, create a DataFrame named `all_neighbourhood_info_df` that groups the data by neighbourhood. Aggregate the results by the `mean` of the group.

3. Review the two code cells that concatenate the `neighbourhood_locations_df` DataFrame with the `all_neighbourhood_info_df` DataFrame. Note that the first cell uses the [Pandas concat function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) to create a DataFrame named `all_neighbourhoods_df`. The second cell cleans the data and sets the “Neighbourhood” column. Be sure to run these cells to create the `all_neighbourhoods_df` DataFrame, which you’ll need to create the geospatial visualisation.

4. Using hvPlot with GeoViews enabled, create a `points` plot for the `all_neighbourhoods_df` DataFrame. Be sure to do the following:

    * Set the `size` parameter to “sale_price_sqr_foot”.

    * Set the `color` parameter to “gross_rent”.

    * Set the `frame_width` parameter to 700.

    * Set the `frame_height` parameter to 500.

    * Include a descriptive title.

    Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of a scatter plot created with hvPlot and GeoViews.](Images/6-4-geoviews-plot.png)

5. Use the interactive map to answer the following question:

    * Which neighbourhood has the highest gross rent, and which has the highest sale price per square foot?

#### Compose Your Data Story

Based on the visualisations that you created, answer the following questions:

* How does the trend in rental income growth compare to the trend in sales prices? Does this same trend hold true for all the neighbourhoods across San Francisco?

* What insights can you share with your company about the potential one-click, buy-and-rent strategy that they're pursuing? Do neighbourhoods exist that you would suggest for investment, and why?

In [220]:
# Import the required libraries and dependencies
import pandas as pd
import hvplot.pandas
from pathlib import Path

## Import the data

In [221]:
# Using the read_csv function and Path module, create a DataFrame 
# by importing the sfo_neighbourhoods_census_data.csv file from the Resources folder
sfo_data_df = pd.read_csv(Path("Resources/sfo_neighbourhoods_census_data.csv"), sep="\s*,\s*", engine='python')

# Review the first and last five rows of the DataFrame
display(sfo_data_df.head(5))
display(sfo_data_df.tail(5))

   year     neighbourhood  sale_price_sqr_foot  housing_units  gross_rent
0  2010      Alamo Square           291.182945         372560        1239
1  2010        Anza Vista           267.932583         372560        1239
2  2010           Bayview           170.098665         372560        1239
3  2010  Buena Vista Park           347.394919         372560        1239
4  2010  Central Richmond           319.027623         372560        1239

,year,neighbourhood,sale_price_sqr_foot,housing_units,gross_rent
392,2016,Telegraph Hill,903.049771,384242,4390
393,2016,Twin Peaks,970.085470,384242,4390
394,2016,Van Ness/ Civic Center,552.602567,384242,4390
395,2016,Visitacion Valley,328.319007,384242,4390
396,2016,Westwood Park,631.195426,384242,4390

---

## Calculate and Plot the Housing Units per Year

For this part of the assignment, use numerical and visual aggregation to calculate the number of housing units per year, and then visualise the results as a bar chart. To do so, complete the following steps:

1. Use the `groupby` function to group the data by year. Aggregate the results by the `mean` of the groups.

2. Use the `hvplot` function to plot the `housing_units_by_year` DataFrame as a bar chart. Make the x-axis represent the `year` and the y-axis represent the `housing_units`.

3. Style and format the line plot to ensure a professionally styled visualisation.

4. Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of the resulting bar chart.](Images/6-4-zoomed-housing-units-by-year.png)

5. Answer the following question:

    * What’s the overall trend in housing units over the period that you’re analysing?

### Step 1: Use the `groupby` function to group the data by year. Aggregate the results by the `mean` of the groups.

In [222]:
# Create a numerical aggregation that groups the data by the year and then averages the results.
housing_units_by_year_df = sfo_data_df.groupby(['year']).mean()

# Review the DataFrame
housing_units_by_year_df

      sale_price_sqr_foot  housing_units  gross_rent
year
2010           369.344353       372560.0      1239.0
2011           341.903429       374507.0      1530.0
2012           399.389968       376454.0      2324.0
2013           483.600304       378401.0      2971.0
2014           556.277273       380348.0      3528.0
2015           632.540352       382295.0      3739.0
2016           697.643709       384242.0      4390.0

### Step 2: Use the `hvplot` function to plot the `housing_units_by_year` DataFrame as a bar chart. Make the x-axis represent the `year` and the y-axis represent the `housing_units`.

### Step 3: Style and format the line plot to ensure a professionally styled visualisation.

In [224]:
# Create a visual aggregation explore the housing units by year

#Use hvplot.help('line') function to ascertain the correct formatting parameters for adequate bar chart presentation
#hvplot.help('line')

housing_units_by_year_df.hvplot.bar(
    title ="Housing Units in San Francisco from 2010 to 2016",
    x = 'year',
    y = 'housing_units',
    xlabel = "Year",
    ylabel = "Housing Units",
    color = "blue",
    grid=True,
    legend=True,
    rot = 60,
    ylim = (365000,385000),
    yformatter = '%.0f'
)

:Bars   [year]   (housing_units)

### Step 5: Answer the following question:

**Question:** What is the overall trend in housing_units over the period being analysed?

**Answer:** According to the above bar graph, the trend in housing_units is a small linear increase in units over the past 6 years.

---

## Calculate and Plot the Average Sale Prices per Square Foot

For this part of the assignment, use numerical and visual aggregation to calculate the average prices per square foot, and then visualise the results as a bar chart. To do so, complete the following steps:

1. Group the data by year, and then average the results. What’s the lowest gross rent that’s reported for the years that the DataFrame includes?

2. Create a new DataFrame named `prices_square_foot_by_year` by filtering out the “housing_units” column. The new DataFrame should include the averages per year for only the sale price per square foot and the gross rent.

3. Use hvPlot to plot the `prices_square_foot_by_year` DataFrame as a line plot.

    > **Hint** This single plot will include lines for both `sale_price_sqr_foot` and `gross_rent`.

4. Style and format the line plot to ensure a professionally styled visualisation.

5. Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of the resulting plot.](Images/6-4-avg-sale-px-sq-foot-gross-rent.png)

6. Use both the `prices_square_foot_by_year` DataFrame and interactive plots to answer the following questions:

    * Did any year experience a drop in the average sale price per square foot compared to the previous year?

    * If so, did the gross rent increase or decrease during that year?

### Step 1: Group the data by year, and then average the results.

In [226]:
# Calculate the lowest gross rent that’s reported for the years that the DataFrame includes
lowest_gross_rent_value = housing_units_by_year_df['gross_rent'].min()
display(lowest_gross_rent_value)

# Create a numerical aggregation by grouping the data by year and averaging the results
prices_square_foot_by_year_df = housing_units_by_year_df[["sale_price_sqr_foot","gross_rent"]]

# Review the resulting DataFrame
prices_square_foot_by_year_df

1239.0

      sale_price_sqr_foot  gross_rent
year
2010           369.344353      1239.0
2011           341.903429      1530.0
2012           399.389968      2324.0
2013           483.600304      2971.0
2014           556.277273      3528.0
2015           632.540352      3739.0
2016           697.643709      4390.0

**Question:** What is the lowest gross rent reported for the years included in the DataFrame?

**Answer:** Therefore, according to the housing_units_by_year_df, the lowest gross rent reported was $1239.00 USD.

### Step 2: Create a new DataFrame named `prices_square_foot_by_year` by filtering out the “housing_units” column. The new DataFrame should include the averages per year for only the sale price per square foot and the gross rent.

In [227]:
# Filter out the housing_units column, creating a new DataFrame 
# Keep only sale_price_sqr_foot and gross_rent averages per year
# See above filtering already completed
prices_square_foot_by_year_df

# Review the DataFrame
prices_square_foot_by_year_df.head(7)

      sale_price_sqr_foot  gross_rent
year
2010           369.344353      1239.0
2011           341.903429      1530.0
2012           399.389968      2324.0
2013           483.600304      2971.0
2014           556.277273      3528.0
2015           632.540352      3739.0
2016           697.643709      4390.0

### Step 3: Use hvPlot to plot the `prices_square_foot_by_year` DataFrame as a line plot.

> **Hint** This single plot will include lines for both `sale_price_sqr_foot` and `gross_rent`

### Step 4: Style and format the line plot to ensure a professionally styled visualisation.

In [228]:
# Plot prices_square_foot_by_year. 
# Inclued labels for the x- and y-axes, and a title.
prices_square_foot_by_year_df.hvplot.line(
    title ="Sale Price Per Square Foot and Average Gross Rent - 2010-2016 - San Francisco",
    x = 'year',
    y = ['sale_price_sqr_foot', 'gross_rent'],
    xlabel = "Year",
    ylabel = "Gross Rent & Sale Price Per Square Foot",
    grid=True,
    legend = True,
    rot = 30,
    yformatter = '%.0f',
).opts(
    legend_offset =(0,50),
    fontsize = {'title':12, 'legend':7, 'xlabel':10, 'ylabel':10}
      )

:NdOverlay   [Variable]
   :Curve   [year]   (value)

### Step 6: Use both the `prices_square_foot_by_year` DataFrame and interactive plots to answer the following questions:

**Question:** Did any year experience a drop in the average sale price per square foot compared to the previous year?

**Answer:** Yes, between the years 2010-11, there was a price drop from approximately 369.34 USD to 341.90 USD, respectively.

**Question:** If so, did the gross rent increase or decrease during that year?

**Answer:** During this same period, however, the gross rent actually increased from 1239 USD to 1530 USD, respectively.

---

## Compare the Average Sale Prices by Neighbourhood

For this part of the assignment, use interactive visualisations and widgets to explore the average sale price per square foot by neighbourhood. To do so, complete the following steps:

1. Create a new DataFrame that groups the original DataFrame by year and neighbourhood. Aggregate the results by the `mean` of the groups.

2. Filter out the “housing_units” column to create a DataFrame that includes only the `sale_price_sqr_foot` and `gross_rent` averages per year.

3. Create an interactive line plot with hvPlot that visualises both `sale_price_sqr_foot` and `gross_rent`. Set the x-axis parameter to the year (`x="year"`). Use the `groupby` parameter to create an interactive widget for `neighbourhood`.

4. Style and format the line plot to ensure a professionally styled visualisation.

5. Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of the resulting plot.](Images/6-4-pricing-info-by-neighborhood.png)

6. Use the interactive visualisation to answer the following question:

    * For the Anza Vista neighbourhood, is the average sale price per square foot for 2016 more or less than the price that’s listed for 2012?

### Step 1: Create a new DataFrame that groups the original DataFrame by year and neighbourhood. Aggregate the results by the `mean` of the groups.

In [232]:
# Group by year and neighbourhood and then create a new dataframe of the mean values
prices_by_year_by_neighbourhood_df = sfo_data_df.groupby(['year', 'neighbourhood']).agg({'housing_units': ['mean'], 'sale_price_sqr_foot': ['mean'], 'gross_rent': ['mean']})

# Review the DataFrame
prices_by_year_by_neighbourhood_df

                            housing_units sale_price_sqr_foot gross_rent
                                     mean                mean       mean
year neighbourhood
2010 Alamo Square                372560.0          291.182945     1239.0
     Anza Vista                  372560.0          267.932583     1239.0
     Bayview                     372560.0          170.098665     1239.0
     Buena Vista Park            372560.0          347.394919     1239.0
     Central Richmond            372560.0          319.027623     1239.0
...                                   ...                 ...        ...
2016 Telegraph Hill              384242.0          903.049771     4390.0
     Twin Peaks                  384242.0          970.085470     4390.0
     Van Ness/ Civic Center      384242.0          552.602567     4390.0
     Visitacion Valley           384242.0          328.319007     4390.0
     Westwood Park               384242.0          631.195426     4390.0

[397 rows x 3 columns]

### Step 2: Filter out the “housing_units” column to create a DataFrame that includes only the `sale_price_sqr_foot` and `gross_rent` averages per year.

In [233]:
# Filter out the housing_units
prices_by_year_by_neighbourhood_df = prices_by_year_by_neighbourhood_df[["sale_price_sqr_foot", "gross_rent"]]
                                                                        
# Review the first and last five rows of the DataFrame
display(prices_by_year_by_neighbourhood_df.head(5))
display(prices_by_year_by_neighbourhood_df.tail(5))

print()

# Display resulting multi-indexed columns for referenced
print(prices_by_year_by_neighbourhood_df.columns)

# Next, the multi-index columns that were displayed above need to be concatenated/ 'flattened' into a single column value names 
prices_by_year_by_neighbourhood_df.columns = ['_'.join(col) for col in prices_by_year_by_neighbourhood_df.columns.values]
print(prices_by_year_by_neighbourhood_df.columns)
print(prices_by_year_by_neighbourhood_df.dtypes)

# Convert back to standard DataFrame type with pandas.DataFrame method() 
prices_by_year_by_neighbourhood_df = pd.DataFrame(prices_by_year_by_neighbourhood_df)

# Test display the final resultant updated 'prices_by_year_by_neighbourhood_df' dataframe to display flattened columns
print()
print(prices_by_year_by_neighbourhood_df.dtypes)
display(prices_by_year_by_neighbourhood_df.head(5))
display(prices_by_year_by_neighbourhood_df.tail(5))

                      sale_price_sqr_foot gross_rent
                                     mean       mean
year neighbourhood
2010 Alamo Square              291.182945     1239.0
     Anza Vista                267.932583     1239.0
     Bayview                   170.098665     1239.0
     Buena Vista Park          347.394919     1239.0
     Central Richmond          319.027623     1239.0

                            sale_price_sqr_foot gross_rent
                                           mean       mean
year neighbourhood
2016 Telegraph Hill                  903.049771     4390.0
     Twin Peaks                      970.085470     4390.0
     Van Ness/ Civic Center          552.602567     4390.0
     Visitacion Valley               328.319007     4390.0
     Westwood Park                   631.195426     4390.0

MultiIndex([('sale_price_sqr_foot', 'mean'),
            (         'gross_rent', 'mean')],
           )
Index(['sale_price_sqr_foot_mean', 'gross_rent_mean'], dtype='object')
sale_price_sqr_foot_mean    float64
gross_rent_mean             float64
dtype: object

sale_price_sqr_foot_mean    float64
gross_rent_mean             float64
dtype: object

                       sale_price_sqr_foot_mean  gross_rent_mean
year neighbourhood
2010 Alamo Square                    291.182945           1239.0
     Anza Vista                      267.932583           1239.0
     Bayview                         170.098665           1239.0
     Buena Vista Park                347.394919           1239.0
     Central Richmond                319.027623           1239.0

                             sale_price_sqr_foot_mean  gross_rent_mean
year neighbourhood
2016 Telegraph Hill                        903.049771           4390.0
     Twin Peaks                            970.085470           4390.0
     Van Ness/ Civic Center                552.602567           4390.0
     Visitacion Valley                     328.319007           4390.0
     Westwood Park                         631.195426           4390.0

### Step 3: Create an interactive line plot with hvPlot that visualises both `sale_price_sqr_foot` and `gross_rent`. Set the x-axis parameter to the year (`x="year"`). Use the `groupby` parameter to create an interactive widget for `neighbourhood`.

### Step 4: Style and format the line plot to ensure a professionally styled visualisation.

In [235]:
# Use hvplot to create an interactive line plot of the average price per square foot
# The plot should have a dropdown selector for the neighbourhood
print(prices_by_year_by_neighbourhood_df.columns)

prices_by_year_by_neighbourhood_df.hvplot.line(
    title ="Sale Price Per Square Foot and Average Gross Rent - 2010-2016 - By Neighbourhood",
    x = 'year',
    y = ['sale_price_sqr_foot_mean', 'gross_rent_mean'],
    xlabel = "Year",
    ylabel = "Gross Rent & Sale Price Per Square Foot",
    grid=True,
    legend = True,
    rot = 30,
    yformatter = '%.0f',
    groupby = 'neighbourhood'
).opts(
    legend_offset =(0,50),
    fontsize = {'title':10, 'legend':7, 'xlabel':10, 'ylabel':10}
      )

Index(['sale_price_sqr_foot_mean', 'gross_rent_mean'], dtype='object')

:DynamicMap   [neighbourhood]
   :NdOverlay   [Variable]
      :Curve   [year]   (value)

### Step 6: Use the interactive visualisation to answer the following question:

**Question:** For the Anza Vista neighbourhood, is the average sale price per square foot for 2016 more or less than the price that’s listed for 2012? 

**Answer:** For the Anza Vista neighbourhood, the average sale price per square foot for 2016 is less than the price that was listed in 2012, whereby the values are approximately 344.49 USD and 88.40 USD, respectively.

---

## Build an Interactive Neighbourhood Map

For this part of the assignment, explore the geospatial relationships in the data by using interactive visualisations with hvPlot and GeoViews. To build your map, use the `sfo_data_df` DataFrame (created during the initial import), which includes the neighbourhood location data with the average prices. To do all this, complete the following steps:

1. Read the `neighbourhood_coordinates.csv` file from the `Resources` folder into the notebook, and create a DataFrame named `neighbourhood_locations_df`. Be sure to set the `index_col` of the DataFrame as “Neighbourhood”.

2. Using the original `sfo_data_df` Dataframe, create a DataFrame named `all_neighbourhood_info_df` that groups the data by neighbourhood. Aggregate the results by the `mean` of the group.

3. Review the two code cells that concatenate the `neighbourhood_locations_df` DataFrame with the `all_neighbourhood_info_df` DataFrame. Note that the first cell uses the [Pandas concat function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) to create a DataFrame named `all_neighbourhoods_df`. The second cell cleans the data and sets the “Neighbourhood” column. Be sure to run these cells to create the `all_neighbourhoods_df` DataFrame, which you’ll need to create the geospatial visualisation.

4. Using hvPlot with GeoViews enabled, create a `points` plot for the `all_neighbourhoods_df` DataFrame. Be sure to do the following:

    * Set the `size` parameter to “sale_price_sqr_foot”.

    * Set the `color` parameter to “gross_rent”.

    * Set the `frame_width` parameter to 700.

    * Set the `frame_height` parameter to 500.

    * Include a descriptive title.

    Note that your resulting plot should appear similar to the following image:

    ![A screenshot depicts an example of a scatter plot created with hvPlot and GeoViews.](Images/6-4-geoviews-plot.png)

5. Use the interactive map to answer the following question:

    * Which neighbourhood has the highest gross rent, and which has the highest sale price per square foot?

### Step 1: Read the `neighbourhood_coordinates.csv` file from the `Resources` folder into the notebook, and create a DataFrame named `neighbourhood_locations_df`. Be sure to set the `index_col` of the DataFrame as “Neighbourhood”.

In [282]:
# Load neighbourhoods coordinates data
neighbourhood_locations_df = pd.read_csv(Path("Resources/neighbourhoods_coordinates.csv"), index_col="Neighbourhood", sep="\s*,\s*", engine='python')

# Review the DataFrame
#neighbourhood_locations_df.head(3)
neighbourhood_locations_df

                          Lat         Lon
Neighbourhood
Alamo Square        37.791012 -122.402100
Anza Vista          37.779598 -122.443451
Bayview             37.734670 -122.401060
Bayview Heights     37.728740 -122.410980
Bernal Heights      37.728630 -122.443050
...                       ...         ...
West Portal         37.740260 -122.463880
Western Addition    37.792980 -122.435790
Westwood Highlands  37.734700 -122.456854
Westwood Park       37.734150 -122.457000
Yerba Buena         37.792980 -122.396360

[73 rows x 2 columns]

### Step 2: Using the original `sfo_data_df` Dataframe, create a DataFrame named `all_neighbourhood_info_df` that groups the data by neighbourhood. Aggregate the results by the `mean` of the group.

In [283]:
# Calculate the mean values for each neighbourhood
all_neighbourhood_info_df = sfo_data_df.groupby(['neighbourhood']).agg({'housing_units': ['mean'], 'sale_price_sqr_foot': ['mean'], 'gross_rent': ['mean']})

# Review the resulting DataFrame
display(all_neighbourhood_info_df.head(3))
display(all_neighbourhood_info_df.tail(3))

# Again, the multi-index columns that were displayed above need to be concatenated/ 'flattened' into a single column value names 
all_neighbourhood_info_df.columns = ['_'.join(col) for col in all_neighbourhood_info_df.columns.values]
all_neighbourhood_info_df

              housing_units sale_price_sqr_foot   gross_rent
                       mean                mean         mean
neighbourhood
Alamo Square       378401.0          366.020712  2817.285714
Anza Vista         379050.0          373.382198  3031.833333
Bayview            376454.0          204.588623  2318.400000

                   housing_units sale_price_sqr_foot   gross_rent
                            mean                mean         mean
neighbourhood
Westwood Highlands      376454.0          533.703935  2250.500000
Westwood Park           382295.0          687.087575  3959.000000
Yerba Buena             377427.5          576.709848  2555.166667

,housing_units_mean,sale_price_sqr_foot_mean,gross_rent_mean
neighbourhood,,,
Alamo Square,378401.00,366.020712,2817.285714
Anza Vista,379050.00,373.382198,3031.833333
Bayview,376454.00,204.588623,2318.400000
Bayview Heights,382295.00,590.792839,3739.000000
Bernal Heights,379374.50,576.746488,3080.333333
...,...,...,...
West Portal,376940.75,498.488485,2515.500000
Western Addition,377427.50,307.562201,2555.166667
Westwood Highlands,376454.00,533.703935,2250.500000
Westwood Park,382295.00,687.087575,3959.000000
Yerba Buena,377427.50,576.709848,2555.166667

### Step 3: Review the two code cells that concatenate the `neighbourhood_locations_df` DataFrame with the `all_neighbourhood_info_df` DataFrame. 

Note that the first cell uses the [Pandas concat function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) to create a DataFrame named `all_neighbourhoods_df`. 

The second cell cleans the data and sets the “Neighbourhood” column. 

Be sure to run these cells to create the `all_neighbourhoods_df` DataFrame, which you’ll need to create the geospatial visualisation.

In [284]:
# Using the Pandas `concat` function, join the 
# neighbourhood_locations_df and the all_neighbourhood_info_df DataFrame
# The axis of the concatenation is "columns".
# The concat function will automatially combine columns with
# identical information, while keeping the additional columns.
all_neighbourhoods_df = pd.concat(
    [neighbourhood_locations_df, all_neighbourhood_info_df], 
    axis="columns",
    sort=False
)

# Review the resulting DataFrame
all_neighbourhoods_df

,Lat,Lon,housing_units_mean,sale_price_sqr_foot_mean,gross_rent_mean
Alamo Square,37.791012,-122.402100,378401.00,366.020712,2817.285714
Anza Vista,37.779598,-122.443451,379050.00,373.382198,3031.833333
Bayview,37.734670,-122.401060,376454.00,204.588623,2318.400000
Bayview Heights,37.728740,-122.410980,382295.00,590.792839,3739.000000
Bernal Heights,37.728630,-122.443050,379374.50,576.746488,3080.333333
...,...,...,...,...,...
West Portal,37.740260,-122.463880,376940.75,498.488485,2515.500000
Western Addition,37.792980,-122.435790,377427.50,307.562201,2555.166667
Westwood Highlands,37.734700,-122.456854,376454.00,533.703935,2250.500000
Westwood Park,37.734150,-122.457000,382295.00,687.087575,3959.000000
Yerba Buena,37.792980,-122.396360,377427.50,576.709848,2555.166667

In [295]:
# Call the dropna function to remove any neighbourhoods that do not have data
all_neighbourhoods_df = all_neighbourhoods_df.reset_index().dropna()

# Rename the "index" column as "Neighbourhood" for use in the Visualisation
all_neighbourhoods_df = all_neighbourhoods_df.rename(columns={"index": "Neighbourhood"})

# Review the resulting DataFrame
display(all_neighbourhoods_df.head(36))
display(all_neighbourhoods_df.tail(37))

,Neighbourhood,Neighbourhood,Neighbourhood,Lat,Lon,housing_units_mean,sale_price_sqr_foot_mean,gross_rent_mean
0,0,0,Alamo Square,37.791012,-122.402100,378401.00,366.020712,2817.285714
1,1,1,Anza Vista,37.779598,-122.443451,379050.00,373.382198,3031.833333
2,2,2,Bayview,37.734670,-122.401060,376454.00,204.588623,2318.400000
3,3,3,Bayview Heights,37.728740,-122.410980,382295.00,590.792839,3739.000000
4,4,4,Bernal Heights,37.728630,-122.443050,379374.50,576.746488,3080.333333
5,5,5,Buena Vista Park,37.768160,-122.439330,378076.50,452.680591,2698.833333
6,6,6,Central Richmond,37.777890,-122.445170,378401.00,394.422399,2817.285714
7,7,7,Central Sunset,37.749610,-122.489990,378401.00,423.687928,2817.285714
8,8,8,Clarendon Heights,37.753310,-122.447030,376454.00,487.244886,2250.500000
9,9,9,Corona Heights,37.785530,-122.456000,377232.80,587.539067,2472.000000
10,10,10,Cow Hollow,37.792980,-122.435790,378401.00,665.964042,2817.285714
11,11,11,Croker Amazon,37.722800,-122.438690,378076.50,303.004184,2698.833333
12,12,12,Diamond Heights,37.728630,-122.443050,375480.50,434.991739,2016.000000
13,13,13,Downtown,37.791010,-122.402100,378401.00,391.434378,2817.285714
14,14,14,Duboce Triangle,37.769640,-122.426110,378401.00,502.599156,2780.250000
15,15,15,Eureka Valley/Dolores Heights,37.755540,-122.437790,378401.00,642.248671,2817.285714
16,16,16,Excelsior,37.728740,-122.410980,379050.00,388.765927,3031.833333
17,17,17,Financial District North,37.791010,-122.402100,378401.00,391.362533,2817.285714
18,18,18,Financial District South,37.791010,-122.402100,377232.80,455.836212,2472.000000
19,19,19,Forest Knolls,37.757060,-122.455090,374507.00,321.840837,1781.500000
20,20,20,Glen Park,37.728630,-122.443050,378725.50,623.826178,2899.500000
21,21,21,Golden Gate Heights,37.757912,-122.464020,377622.20,639.393557,2601.400000
22,22,22,Haight Ashbury,37.765250,-122.435960,378401.00,449.544762,2817.285714
23,23,23,Hayes Valley,37.765250,-122.435960,378401.00,355.932828,2817.285714
24,24,24,Hunters Point,37.725510,-122.371780,377427.50,170.624920,2489.000000
25,25,25,Ingleside,37.721161,-122.487068,377427.50,367.895144,2509.000000
26,26,26,Ingleside Heights,37.721160,-122.487070,379374.50,384.797928,2960.000000
27,27,27,Inner Mission,37.754160,-122.419470,378401.00,397.673715,2817.285714
28,28,28,Inner Parkside,37.749610,-122.489990,379861.25,519.385604,3224.000000
29,29,29,Inner Richmond,37.769112,-122.483566,378401.00,378.594314,2817.285714
30,30,30,Inner Sunset,37.749610,-122.489970,378401.00,413.667515,2817.285714
31,31,31,Jordan Park/Laurel Heights,37.785530,-122.456000,378401.00,529.384185,2817.285714
32,32,32,Lake --The Presidio,37.801520,-122.454570,377427.50,409.954352,2555.166667
33,33,33,Lone Mountain,37.778900,-122.454960,377427.50,478.228553,2555.166667
34,34,34,Lower Pacific Heights,37.792980,-122.435790,378401.00,539.237969,2817.285714
35,35,35,Marina,37.799720,-122.466890,378401.00,583.749269,2817.285714

,Neighbourhood,Neighbourhood,Neighbourhood,Lat,Lon,housing_units_mean,sale_price_sqr_foot_mean,gross_rent_mean
36,36,36,Merced Heights,37.719930,-122.465950,380348.00,788.844818,3414.000000
37,37,37,Midtown Terrace,37.753310,-122.447030,377427.50,550.510348,2647.500000
38,38,38,Miraloma Park,37.734150,-122.457000,375967.25,779.810842,2155.250000
39,39,39,Mission Bay,37.783230,-122.400650,377752.00,566.192214,2663.666667
40,40,40,Mission Dolores,37.751840,-122.425220,377427.50,418.915623,2555.166667
41,41,41,Mission Terrace,37.728630,-122.443050,379569.20,523.466201,3173.400000
42,42,42,Nob Hill,37.792980,-122.435790,378401.00,458.204094,2817.285714
43,43,43,Noe Valley,37.753310,-122.447030,378401.00,542.442913,2817.285714
44,44,44,North Beach,37.800550,-122.404330,379179.80,411.646876,2990.800000
45,45,45,North Waterfront,37.800550,-122.404330,378401.00,498.269755,2818.400000
46,46,46,Oceanview,37.719930,-122.465950,377103.00,330.097385,2434.000000
47,47,47,Outer Mission,37.722800,-122.438690,379374.50,242.370952,2995.750000
48,48,48,Outer Parkside,37.751700,-122.446000,378401.00,485.027013,2817.285714
49,49,49,Outer Richmond,37.769110,-122.483570,378401.00,473.900773,2817.285714
50,50,50,Outer Sunset,37.749610,-122.489990,378401.00,394.219032,2817.285714
51,51,51,Pacific Heights,37.792980,-122.435790,378401.00,689.555817,2817.285714
52,52,52,Park North,37.728380,-122.478510,378401.00,373.732856,2817.285714
53,53,53,Parkside,37.749610,-122.489990,377427.50,336.172661,2555.166667
54,54,54,Parnassus/Ashbury Heights,37.763550,-122.457650,378401.00,632.740454,2817.285714
55,55,55,Portola,37.734670,-122.401060,376454.00,327.113925,2318.400000
56,56,56,Potrero Hill,37.731960,-122.383240,378401.00,662.013613,2817.285714
57,57,57,Presidio Heights,37.785530,-122.456000,378401.00,675.350212,2817.285714
58,58,58,Russian Hill,37.792980,-122.435790,378401.00,608.983217,2817.285714
59,59,59,Silver Terrace,37.734670,-122.401060,380348.00,170.292549,3528.000000
60,60,60,South Beach,37.783230,-122.400650,375805.00,650.124479,2099.000000
61,61,61,South of Market,37.791010,-122.402100,378401.00,570.271427,2817.285714
62,62,62,Sunnyside,37.734150,-122.457000,378725.50,528.318332,2899.500000
63,63,63,Telegraph Hill,37.800550,-122.404330,378401.00,676.506578,2817.285714
64,64,64,Twin Peaks,37.753311,-122.447029,378401.00,469.398626,2817.285714
65,65,65,Union Square District,37.791010,-122.402100,377427.50,903.993258,2555.166667
66,66,66,Van Ness/ Civic Center,37.779510,-122.420220,378401.00,404.150180,2817.285714
67,67,67,Visitacion Valley,37.728740,-122.410980,381321.50,301.466180,3657.000000
68,68,68,West Portal,37.740260,-122.463880,376940.75,498.488485,2515.500000
69,69,69,Western Addition,37.792980,-122.435790,377427.50,307.562201,2555.166667
70,70,70,Westwood Highlands,37.734700,-122.456854,376454.00,533.703935,2250.500000
71,71,71,Westwood Park,37.734150,-122.457000,382295.00,687.087575,3959.000000
72,72,72,Yerba Buena,37.792980,-122.396360,377427.50,576.709848,2555.166667

### Step 4: Using hvPlot with GeoViews enabled, create a `points` plot for the `all_neighbourhoods_df` DataFrame. Be sure to do the following:

* Set the `geo` parameter to True.
* Set the `size` parameter to “sale_price_sqr_foot”.
* Set the `color` parameter to “gross_rent”.
* Set the `frame_width` parameter to 700.
* Set the `frame_height` parameter to 500.
* Include a descriptive title.

In [287]:
# Create a plot to analyse neighbourhood info
all_neighbourhoods_df.hvplot.points(
    x='Lon',
    y='Lat',
    xlabel="Longitude",
    ylabel="Latitude",
    clabel="Neighbourhood",
    geo=True,
    size='sale_price_sqr_foot_mean',
    color='gross_rent_mean',
    tiles='OSM',
    frame_width=700,
    frame_height=500,
    title="San Francisco Interactive Neighbourhood Map for Sale Price By"
    "\n Square Foot (Mean) & Gross Rent (Mean) from 2010-2016"
)

:Overlay
   .Tiles.I  :Tiles   [x,y]
   .Points.I :Points   [Lon,Lat]   (gross_rent_mean,sale_price_sqr_foot_mean)

### Step 5: Use the interactive map to answer the following question:

In [293]:
# Calculating the neighbourhood with highest gross rent
display(all_neighbourhoods_df.groupby(['Neighbourhood', 'gross_rent_mean']).agg({'gross_rent_mean': ['max']}).max())
i = all_neighbourhoods_df[['gross_rent_mean']].idxmax()
display(i = all_neighbourhoods_df[['gross_rent_mean']].idxmax())
display(all_neighbourhoods_df[['Neighbourhood']].iloc[i])

print()

# Calculating Neighbourhood with the highest sale_price_sqr_foot_mean value
display(all_neighbourhoods_df.groupby(['Neighbourhood', 'sale_price_sqr_foot_mean']).agg({'sale_price_sqr_foot_mean': ['max']}).max())
j = all_neighbourhoods_df[['sale_price_sqr_foot_mean']].idxmax()
display(all_neighbourhoods_df[['sale_price_sqr_foot_mean']].idxmax())
display(all_neighbourhoods_df[['Neighbourhood']].iloc[j])

gross_rent_mean  max    3959.0
dtype: float64

    Neighbourhood
71  Westwood Park

sale_price_sqr_foot_mean  max    903.993258
dtype: float64

sale_price_sqr_foot_mean    65
dtype: int64

            Neighbourhood
65  Union Square District

**Question:** Which neighbourhood has the highest gross rent, and which has the highest sale price per square foot?

**Answer:** The neighbourhood that has the highest gross rent is 3959 USD in Westwood Park. The highest sale price per square foot is 903.99 USD and is in Union Square District.

## Compose Your Data Story

Based on the visualisations that you created, answer the following questions:

**Question:**  How does the trend in rental income growth compare to the trend in sales prices? Does this same trend hold true for all the neighbourhoods across San Francisco?

**Answer:** It appears visually, according to the price relationship graphs (between rental / sales) that rental prices are increasing almost quadratically in comparison. In the least extreme divergent samples - based on neighbourhood variation - there is a slope multiplier (m) that is a higher coefficient than the sales value increase. (I.e. Essentially, the relationship in the seemingly non-quadratically related rental/sales data is a y=mx + b relationship. Whereby x is the sales price and m is the slope coefficient increase of the rental prices (y) in comparison and offset by a factor of b at some point after 2010+).

**Question:** What insights can you share with your company about the potential one-click, buy-and-rent strategy that they're pursuing? Do neighbourhoods exist that you would suggest for investment, and why?

**Answer:** I would say if the company is to pursue the one click buy-and-rent strategy, the company should focus on acquiring undervalued properties whereby the margin between the sales-price and rental income level is maximized. Additionally, there are some neighbourhoods where in recent years there is even strong divergence between the average rental prices and the sales price, further amplifying the opportunity to maximize margins (between say, rental prices and a mortgage price). These neighbourhoods can be sorted through the interactive hvplot "Sale Price Per Square Foot and Average Gross Rent - 2010-2016 - By Neighbourhood" widget. Additionally, you may want to refine this by including some algorithms in the program that calculate a max margin (between rental price & sales/mortgage price) and sort accordingly, for easier visualization.

For instance, some neighbourhoods that exhibit this broadening divergence between rental & sales price include Alamo Square, Anza Vista, Financial District South, Ingleside, Inner Sunset, and Marina to name a few.